apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-delivery
  labels:
    app: api-delivery
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-delivery
  template:
    metadata:
      name: api-delivery
      labels:
        app: api-delivery
    spec:
      containers:
        - name: api-delivery-container
          image: fagnervalente/postech-soat-webserver
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: MERCADOPAGO_ACCESS_TOKEN
              valueFrom: 
                secretKeyRef: 
                  key: MERCADOPAGO_ACCESS_TOKEN
                  name: delivery-secret
          envFrom:
            - configMapRef:
                name: delivery-configmap
          resources:
            requests:
              cpu: 250m